.hero {
    display: flex;
    height: calc(100vh - 74px);
    overflow: hidden;
  }
  
  .hero-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
    
  }
  
  .hero-image img {
    width: 150%;
    height: 150%;
    object-fit: contain;
    transform: translateY(-15%);
  }
  
  .hero-image__overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    
    /* Fallback color */
    background-color: var(--primary-color);
    
    /* Image with gradient overlay */
    background-image: url('/assets/hero-bg.png');
    
    background-size: cover;
    background-position: center;
   
    z-index: -1;
  }
  
  .hero-content {
    flex: 1.22;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transform: translateY(-10%);
    
  }
  
  .hero-content-info {
    padding: 64px;
    flex: 1;
    display: flex;
    justify-content:center;
    flex-direction: column;
  }
  
  .hero-content-info h1 {
    font-size: 80px;
    font-weight: 600px;
    font-family: var(--playfair-display);
    color: var(--secondary-color);
  }
  
  .hero-content-info p {
    margin: 32px 0 0 32px;
  
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 400;
  }