.products {
    padding: 64px;
  
    display: flex;
    flex-direction: column;
    background-image: url("/assets/products-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  
    width: 97%;
    height: 100vh;
    overflow: hidden;
  }
  
  .products__title {
    font-size: 56px;
    font-family: var(--playfair-display);
    font-weight: 600;
    line-height: 78px;
    color: #fff;
    text-align: center;
  }

  .products__catalogue {
    margin-top: 64px;
  
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 56px;
  }

  .products__card {
    padding: 38px;
    min-width: 260px;
    height: fit-content;
  
    display: flex;
    align-items: center;
    flex-direction: column;
  
    border-radius: 36px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .products__card-image {
    width: 110px;
    height: 84px;
    object-fit: contain;
  }
  
  .products__card-title {
    margin-top: 47px;
  
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    font-family: var(--playfair-display);
    color: #fff;
    text-align: center;
  }
  
  .products__card-details {
    width: 100%;
    margin-top: 32px;
  }
  
  .products__card-rating {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .products__card-rating img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  
  .products__card-rating p {
    font-size: 20px; 
    font-weight: 300;
    font-family: var(--plus-jakarta-sans);
    color: #fff;
  }
  
  .products__card-price {
    font-size: 20px; 
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    color: #fff;
  }

  .products__card.active-card {
    background: #fff;
    min-width: 340px;
  }
  
  .products__card.active-card .products__card-image {
    width: 214px;
    height: 160px;
  }
  
  .products__card.active-card .products__card-title {
    color: var(--black-500);
    font-size: 32px;
  }
  
  .products__card.active-card .products__card-rating img {
    width: 32px;
    height: 32px;
  }
  
  .products__card.active-card .products__card-rating p {
    font-size: 24px;
    color: var(--gray-100);
  }
  
  .products__card.active-card .products__card-price {
    font-size: 24px;
    color: var(--secondary-color)
  }